* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans;
}

.logo_link {
    display: flex;
    gap: 14px;
}

.top {
    margin-bottom: 96px;
}

.header {
    margin-top: 51px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



.header_menu {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    gap: 40px;
    
}

.top_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 164px;
    margin-bottom: 162px;
}

.top_info {
    margin-bottom: 37px;
}

.title {
    color: black;
    padding-top: 84px;
    padding-bottom: 17px;
    padding-right: 41px;
    width: 522px;
    height: 222px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    width: 466px;
    height: 48px;
    padding-right: 97px;
    padding-bottom: 37px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_buttons {
    margin-top: 17px;
    margin-bottom: 37px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.ordinary {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15, 35, 16, 36;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
}

.button2 {
    color: #aaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90px;
    height: 19px;

}

.top_logo {
    display: flex;
    gap: 48px;
    justify-content: center;
}