a {
    text-decoration: none;
}

* {
    padding: 0px;
    margin: 0px;
}

.center{
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.top {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding-left: 231px;
    padding-right: 231px;
    align-items: center;
    height: 75px;

}

.top-logos__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.top-logos__right {
    display: flex;
    gap: 33px;
    align-items: center;
}

.title {
    display: flex;
    background-color: #F1E4E6;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.title-brand {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 405px;
    margin-left: 63.42px;
}

.title-brand-rectangle{
    width: 12px;
    height: 92px;
}

.title__text {
    max-width: 377px;
    text-align: left;
    font-family: "Lato", sans-serif;
    

}
.title__text_h{
    font-family: 'Lato';
    font-size: 48px;
    font-weight: 900;
}

.title__text_p{
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 700;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 360px);

    /* height: 470px; */
    gap: 30px;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 96px;
    /* padding-left: 230px; */
    /* padding-right: 230px; */
}

.menu__blocs {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;

}
.layer{
    position: absolute;
    opacity: 0.7;

}
.menu_block_p {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}
.text{
    position: absolute;
    z-index: 1;
}

.block_big {
    display: flex;
    grid-row: span 1;
    grid-column: span 3;
}

.feat__items{
    display: grid;
    justify-content: center;
    margin-bottom: 95px;
}
.item_blocks{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-bottom: 48px;
    
}
.items{
    display: flex;
    height: 581px;
   
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #F8F8F8;
}
    
.images{
    padding-bottom: 25px;

}

.items__text__under{
    display: grid;
    grid-template-columns: repeat(1, 314px );
    margin-bottom: 20px;
    padding-left: 16.46px;
}

.items__names{
    display: block;
    font-family: 'Lato' ;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 12px;
}

.items__descritions{
    display: block;
    font-family: 'Lato' ;
    font-weight: lighter;
    font-size: 14px;   
    padding-bottom: 18px;
}

.items__prices{
    display: block;
    font-family: 'Lato' ;
    font-weight: bold;
    font-size: 16px;
    color: #F16D7F;
}


.items__text{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 6px;
    justify-items: center;

}
.items__text_h{
    font-family: 'Lato';
    font-weight: normal;
    font-size: 30px;
}

.items__text_p{
    font-family: 'Lato';
    font-weight: normal;
    font-size: 14px;
}


.browse_products{
    display: block;
    justify-self: center;
    width: 212px;
    height: 48px;
    background-color:#F16D7F;
    border: none;
    color: #fff;
}
.feature{
    display: grid;
    align-content: center;
    height: 341px;
    background-color: #222224;
}

.feature__info{
    display: grid;
    grid-template-columns:repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}
.feature__info_blocks{
    height: 131px;
    display: grid;
    
    color: #fff;
    justify-items: center;

}


.feature__text{
    font-family: 'Lato';
    font-size: 19px;
    font-weight: bold;
    
}

.feature__paragr{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: lighter;
    text-align: center;

}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 448px;
    background-image: url(../online_shop/img/photo_subscribe.png);
    background-repeat: no-repeat;
    background-size: 100%;


}
.foot_rew{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 360px;
    gap: 30px;

}
.rew__text{
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.foot_sub{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sub_block{

height: 61px;

}

.sub_text{
font-family: 'Lato';
font-weight: bold;
font-size: 24px;
text-align: center;
line-height: 167%;

}
.sub_text2{
    font-family: 'Lato';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 167%;
}

.input__email{
    margin-top: 32px;
    background-color: #E1E1E1;
    border: none;
    height: 49px;
}

.sub__button{
    height: 49px;
    width: 100px;
    border: none;
    background-color: #F16D7F;
    color: #fff;
}

.footer__rights{
    display: flex;
    height: 79px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #222224;
}
.certificate{
    position: absolute;
    left: 230px;
}
.cert__paragr{
    color: #fff ;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 16px;

}


.social__icons{
    position: absolute;
    right: 230px;
    display: grid;
    grid-template-columns: repeat(4, 32px);
    gap: 7.3px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .title-photo{
        height: 368px;
        width: 368px;
    }

}
